<html lang="en">
    <head></head>
    <body>
        <h1>Welcome to Chitter! </h1>
        <br>
        <h2> Sign Up here</h2>
        <form action="/post-signup" type="POST">
        <p>Please enter your email address: <input type="text" name="email"></p>
        <p>Please enter your username: <input type="text" name="user_name"></p>
        <p>Please enter your password: <input type="password" name="password"></p>
        <input type="submit" value="Submit the form">
        </form>
    </body>



</html>